.container{
    background-color:#2E2E2E;
    border-radius: 30px;
    display:flex;
    flex-direction:column;

}

.clockContainer {
    position: relative;
    margin: 0px;
    height: 30px;
/*to make the height and width responsive*/
    width: 20px;
/*    background: url(clock.png) no-repeat;*/
/*setting our background image*/
    background-size: 100%;
}

.hour,
.minute,
.second {
    position: absolute;
    color: #ffffff;
    border-radius: 10px;
    transform-origin: bottom;
}

.hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

.minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

.second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}
